<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>test page</title>
</head>
<body>

<h1>hi!</h1>

<h1>welcome to vita parkhotels</h1>

    <ul>
        {% for s in hotel %}
            <li><a href="{{ s.name }}">{{ s.name }}</a>   -- name</li>
        {% endfor %}
        <li><a href="stock/stockall">stock</a></li>
        <li><a href="feedback/feedback">feedback</a></li>
        <li><a href="paid">PaidServices</a></li>
    </ul>

<h2> stock all</h2>

{% for s in stock %}
    <p>{{ s.id }}</p>
    <p>{{ s.name }}</p>
    <p>{{ s.description }}</p>
{% endfor %}

</body>
</html>
